.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-todo-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.add-todo-btn:hover {
  background-color: #449e47;
}

.todo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo {
  width: 50vmax;
  border: 1px solid black;
  padding: 20px;
  margin-top: 1.5em;
}